@font-face {
    font-family:ThePortologo;
    src: url(../images/Fonts/ThePortologo.otf);
}

@font-face {
    font-family:Brandford;
    src: url(../images/Fonts/Brandford.otf);
}

@font-face {
    font-family:skadina;
    src: url(../images/Fonts/skadina.otf);
}

